.menubutton {
  width: 50%;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 5px;
  margin-left: 5pc;
  margin-top: 0.75pc;
  cursor: pointer;
}

.menubutton:hover {
    text-decoration: underline;
}

.menudisplay {
  width: 75%;
  /* border: 2px solid #fff; */
  text-align: left;
  border-radius: 5px;
  margin-left: 2pc;
  margin-top: 1pc;
  /* cursor: pointer; */
  font-size: 5vh;
}
